.row{
  display: flex;
  max-width: $grid-width;
  padding-left: 2rem;
  padding-right: 2rem;

  @include breakpoint-below(lg){
    max-width: $grid-width-lg;
  }

  @include breakpoint-below(md){
   max-width: $grid-width-md;
  }

  @include breakpoint-below(sm){
    max-width: $grid-width-sm;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include breakpoint-below(md){
       margin-bottom: $gutter-vertical-sm;
    }
  }

  // @include clearfix;

  .column {
    flex:1 1 auto;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include breakpoint-below(md){
        margin-right: 0;
        margin-bottom: $gutter-vertical-sm;
      }
    }
  }
}