*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background: var(--primary-colour);
  color: var(--white);
}

html {
  //This defines 1rem as 10px where the user has a default font size of 16px
  font-size: 62.5%;
  box-sizing: border-box;

  @include breakpoint-below(xl) {
    font-size: 50%;
  }
}

body {
  background-image: linear-gradient(to right bottom, var(--primary-colour-light), var(--primary-colour-dark));
  background-size: cover;
  min-height: 100vh;
}

.responsive-img{
  max-width: 100%;
  height: auto;
}