*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background: var(--primary-colour);
  color: var(--white);
}

html {
  //This defines 1rem as 10px where the user has a default font size of 16px
  font-size: 62.5%;

  @include breakpoint-above(xs) {
    font-size: 1rem;
  }
  @include breakpoint-above(sm) {
    font-size: 1.2rem;
  } 
  @include breakpoint-above(md) {
    font-size: 1.4rem;
  }
  @include breakpoint-above(lg) {
    font-size: 1.6rem;
  }
  @include breakpoint-above(xl) {
    font-size: 1.8rem;
  }

  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right bottom, var(--primary-colour-light), var(--primary-colour-dark));
  background-size: cover;
  min-height: 100vh;
}

.responsive-img{
  max-width: 100%;
  height: auto;
}